.navbar {
  position: fixed;
  top: 10px;
  left: 0px;
  right: 15px;
  width: 100%;
  z-index: 1000;
  background-color: #054D69;
  color: 427AA1;
  padding: 15px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1450px;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #A5BE00;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5em;
  color: #679436;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  min-width: 0;
  word-break: break-word;
}

.navbar h1 img.site-logo {
    height: 50px;
    width: 180px;
    vertical-align: middle;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-shrink: 1;
  min-width: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #14115e;
}

.navbar a.active {
  color: #679436;
  border-bottom: 2px solid yellow;
}

.nav-logout-button {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1em;
  font-weight: bold;
}

.nav-logout-button:hover {
  background-color: rgb(29, 3, 3);
  color: #333;
}
