.login-container {
    background-color: #97B6CE;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 0px;
    padding-top: 70px;
}

.login-title {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-form {
    background-color: #054D69;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 15px;
}

.login-label {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 0px;
    display: block;
}

.login-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #e0e0e0;
    box-sizing: border-box;
}

.login-button {
    background-color: #679436;
    color: #000;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-button:hover {
    background-color: #8ebe5b;
}

.register-link {
    margin-top: 15px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.register-link a {
    font-weight: bold;
    color: #679436;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
.login-message {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 9px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 47%;
    box-sizing: border-box;
}

.login-message.success {
    background-color: #2aec57;
    color: #155724;
    border: 2px solid #c3e6cb;
}

.login-message.error {
    background-color: #de3b49;
    color: #721c24;
    border: 2px solid #f5c6cb;
}